{% extends 'dashboard/layouts/layout.jinja2' %}

{% block main %}
    <div class="row">
        <div class="col-lg-12">
            <div class="white_card card_height_100 mb_30 pt-4">
                <div class="white_card_body">
                    <div class="QA_section">
                        <div class="white_box_tittle list_header">
                            <h4>Admin List </h4>
                            <div class="box_right d-flex lms_block">
                                <div class="serach_field_2">
                                    <div class="search_inner">
                                        <form Active="#">
                                            <div class="search_field">
                                                <input type="text" placeholder="Search content here...">
                                            </div>
                                            <button type="submit"><i class="ti-search"></i></button>
                                        </form>
                                    </div>
                                </div>
                                <div class="add_button ml-10">
                                    <a href="#" data-toggle="modal" data-target="#addcategory" class="btn_1">search</a>
                                </div>
                            </div>
                        </div>

                        <div class="QA_table mb_30">
                            <!-- table-responsive -->
                            <table class="table lms_table_active ">
                                <thead>
                                <tr>
                                    <th scope="col">id</th>
                                    <th scope="col">Fullname</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Email Address</th>
                                    <th scope="col">Mobile</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">Registered on</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for admins in admin_info['admins'] %}
                                    <tr>
                                        <th scope="row"><a href="#" class="question_content"> {{ loop.index }} </a></th>
                                        <td>{{ admins[2] }}</td>
                                        <td>{{ admins[1] }}</td>
                                        <td>{{ admins[4] }}</td>
                                        <td><a href="#">{{ admins[3] }}</a></td>
                                        <td><a href="#">{{ admins[5] }}</a></td>
                                        <td><a href="#">{{ admins[6] }}</a></td>
                                        <td><a href="#" class="status_btn">Active</a></td>
                                        <td>
                                            <div class="action_btns d-flex">
                                                <a href="#" class="action_btn mr_10"> <i class="far fa-edit"></i> </a>
                                                <a href="#" class="action_btn"> <i class="fas fa-trash"></i> </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


